
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/

h1,
p {
  text-align: center;
}

.fancy-btn {
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 10px;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 30px;
  border: 1px solid #124d77;
  text-shadow: 0px 1px 0px #154682;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.fancy-btn:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
}
